// FONTS
@font-face {
  font-family: "Karla";
  src: url("Karla-Bold.woff2") format("woff2"),
    url("Karla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("Karla-Regular.woff2") format("woff2"),
    url("Karla-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('DMSerifDisplay-Regular.woff2') format('woff2'),
        url('DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
